body {
  margin: 0;
  font-family: sans-serif;
}
/* header{
  position: fixed;
  z-index: 10;
} */

#head {
  position: fixed;
  z-index: 10;
  display: flex;
  padding: 16px 0px 16px 0px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #c4c4c4;
  min-width: 100vw;
}
#menu {
  position: absolute;
  left: 50px;
  top: 20px;
  max-width: fit-content;
}
.hide {
  display: none;
  transition: all 2s ease;
}
#techpathshala-logo {
  flex: 1;
  padding-top: 8px;
  margin: 0;
  justify-content: start;
  margin-left: -850px;
}
#profileInfo {
  position: relative;
  z-index: 3;
  flex: 1;
  display: inline-flex;
  max-width: 268px;
  height: 40px;
  justify-content: space-evenly;
  margin: 0 25px 0 0;
}
#user-name {
  padding: 0;
}

/* Admin */

.borderCollape {
  border-collapse: collapse;
}
.center {
  text-align: center;
}
.inline {
  display: flex;
}
.boxes {
  max-width: fit-content;
  padding: 0px 20px;
}
.box {
  font-size: 12px;
  border: 2px solid black;
  color: #818181;
  padding: 20px 50px;
  max-width: fit-content;
  max-height: fit-content;
  margin: 100px 50px;
  transition: 0.1s ease-in;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 100px rgb(193, 193, 193);
}
/* .left{
  position: relative;
  left: 35%;
} */
#dashboard > div:hover {
  color: #f3bd00;
  position: relative;
  left: 20px;
}
#dashboard {
  position: fixed;
  top: 70px;
  min-width: 15vw;
  background-color: #f7f7f7;
  min-height: 90vh;
  border-right: 2px solid #c4c4c4;
  font-size: 14px;
}
#dashboard > h1 {
  padding: 50px 0 100px 0;
  margin: 0;
  font-size: 24px;
}
.admin {
  position: relative;
  left: 25%;
  top: 70px;
  min-width: fit-content;
  justify-content: center;
}
#menuBox {
  position: relative;
  left: 70px;
  top: 7px;
  margin: none;
  height: 30px;
  cursor: pointer;
}
#menuBox:hover {
  #menuHover {
    width: 17px;
    border: 1px solid black;
    margin: none;
    margin-top: 5px;
    transition: 0.2s ease;
  }
}
#menuHover {
  width: 10px;
  border: 1px solid black;
  margin: none;
  margin-top: 5px;
}
.menuLine {
  /* height: 1px;  */
  width: 17px;
  border: 1px solid black;
  margin: none;
  margin-top: 5px;
}
.dashboardShow {
  transition: 0.1s ease-in-out;
  left: 20%;
  div {
    padding: 20px 100px;
    transition: 0.3s ease-in-out;
  }
}

/* All User Page  */
#userTable {
  /* font-size: 12px; */
  padding: 25px 45px;
  margin: 100px 25px 30px 25px;
  /* background-color: #000000;  */
  margin-left: 270px;
}
#allUsersTable {
  box-sizing: border-box;
  /* position: relative;
  left: 25%; */
  border: 1px solid rgb(220, 220, 220);
  background-color: #ffffff;
  /* max-width: 1500px; */
  height: fit-content;
  transition: 0.5s ease-in-out;
}
#allUsersTable > tr > td {
  font-size: 16px;
  /* font-family: sans-serif; */
  color: rgb(139, 139, 139);
  text-align: center;
  /* border: 2px solid black; */
  width: 250px;
  padding: 20px 10px;
  border-top: 1px rgb(220, 220, 220) solid;
  /* border-right: 2px black solid; */
  /* border-left: 2px black solid; */
  transition: 0.5s ease-in-out;
}
.thColor {
  font-size: 16px;
  line-break: none;
  background-color: rgb(234, 234, 234);
  /* border-right: 2px black solid;
  border-left: 2px black solid;
  border-top: 2px black solid; */
  /* padding: 0px 50px; */
  width: auto;
  padding: 10px 15px;
  /* transition: 0.5s ease-in-out; */
}
#selectedUserInfo{
  margin-left: 260px;
  margin-top: 80px;
  background-color: #ffffff;

}
#selectedUserInfo > article>div{
  display: inline-flex;
  margin: 70px 0 0 50px;
}
#selectedUserInfo > article > div> h3 {
  font-size: 25px;
  margin:0px 0px 0px 0px;
}
#selectedUserInfo > article > div>span{
  font-weight: bold;
  font-size: 30px;
  margin: -5px 15px 0 15px;
}
#selectedUserInfo > article > hr {
  margin: 10px 0 0 50px;
  width: 1100px;
}
#selectedUserSection{
  margin: 20px 0 0 50px;
  border: 1px rgb(220, 220, 220) solid;
}
/* #selectedUserTests{

} */
.questionsColumns{
  padding: 10px 72px 10px 72px;
}
.questionsColumnBig{
  padding: 10px 96px 10px 95px;
}
#selectedUserTests>tr>td{
  /* padding: 10px 72px 10px 72px; */
  text-align: center;
  color: rgb(139, 139, 139);
  width: auto;
  padding: 10px 0px;
  border-top: 1px rgb(220, 220, 220) solid;
}






#quizContainer{
  margin: 80px 0 50px 260px;
}

#quizContainer > article>div{
  display: inline-flex;
  margin: 20px 0 0 0px;
  /* width: 1000px; */
}
#quizContainer > article > div> h3 {
  font-size: 25px;
  margin:0px 0px 0px 0px;
}
#quizContainer > article > div>span{
  font-weight: bold;
  font-size: 30px;
  margin: -5px 15px 0 15px;
}
#quizContainer > article > hr {
  margin: 10px 0 0 0px;
  width: 1210px;
}

#fullTest{
  border: 1px rgb(220, 220, 220) solid;
  border-radius:0px 0px 10px 10px;
  margin-top: 30px;
  padding-bottom: 30px;
}
#testDetails{
  display: inline-flex;
  width: 1210px;
  justify-content: space-between;
  border: 1px rgb(220, 220, 220) solid;
}
#testDetails>p{
  margin: 15px 5px;
}
#questionBox{
  display: inline-flex;
  margin: 40px 0 0 30px;
}
#questionBox>span{
  font-size: 1.5em;
  margin: 0 10px 0 0;
}
.question {
  font-size: 1.5em;
  margin-bottom: 10px;
  
}
#options{
  margin: 0px 30px 0 30px;

}
.options {
  list-style: none;
  padding: 0;
}
.options li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options li.correct {
  /* background-color: green; */
  border-color: #c3e6cb;
}
.options li.incorrect {
  background-color: #ec939a;
  border-color: #f5c6cb;
}
.options li.correct-answer {
  background-color: rgb(101, 235, 101);
  border-color: #bee5eb;
}
.icon {
  width: 20px;
  height: 20px;
}
/* .options li::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.options li.correct::after {
  background-image: url('../assets/edit.png');
}
.options li.incorrect::after {
  background-image: url('../assets/adminIcon.png');
} */

/* All Question Page */

#allMcq {
  margin-left: 260px;
  margin-top: 80px;
  /* box-shadow: 0 0 1000px rgb(35, 35, 35); */
  /* align-items: center; */
  background-color: #ffffff;

  /* width: 1270px; */
}
#allMcq > article > h3 {
  font-size: 25px;
  margin: 40px 0 10px 50px;
}
#allMcq > article > hr {
  margin: 0 0 0 50px;
  width: 1100px;
}
#allMcq > article > button {
  position: absolute;
  left: 80%;
  font-size: 20px;
  color: white;
  font-weight: 500;
  padding: 8px 25px;
  background-color: rgb(31, 199, 31);
  border-radius: 5px;
  border-color: rgb(31, 199, 31);
  margin-top: 10px;
}
#allMcqTable {
  margin: 60px 0px 0 50px;
  /* padding: 0 50px; */
  border: 1px solid rgb(220, 220, 220);
}
.rightBorder {
  border-right: 1px rgb(220, 220, 220) solid;
}
#allQuestionsTable {
  font-size: 20px;
}
#allQuestionsTable > tr > td {
  font-size: 16px;
  color: rgb(139, 139, 139);
  /* text-align: center; */
  padding: 20px 10px;
  /* width: 250px; */
  border-top: 1px rgb(220, 220, 220) solid;
  border-right: 1px rgb(220, 220, 220) solid;
  /* transition: 0.1s ; */
}
#addQuestionPopup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#editQuestionPopup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#viewQuestionPopup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#viewPopup {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  /* text-align: center; */
  padding: 20px 80px;
}
#viewPopup > h4 {
  margin: 10px 0 10px 0;
}
#viewPopup > p {
  margin: -28px 0 0 100px;
}
.popupContent {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  text-align: center;
  padding: 20px 80px;
}
.popupContent > form > input {
  margin: 20px 20px;
  padding: 10px 20px;
}
#submitQuestionButton {
  margin: 20px 30px;
  padding: 10px 20px;
  cursor: pointer;
}
/* #EditQuestionButton{
  margin: 20px 30px;
  padding: 10px 20px;
  cursor: pointer;
} */
#closeButton {
  position: absolute;
  top: -3%;
  left: 97%;
  cursor: pointer;
}
#closeEditPopup {
  position: absolute;
  top: -3%;
  left: 97%;
  cursor: pointer;
}
#closeViewPopup {
  position: absolute;
  top: -4%;
  left: 97.5%;
  cursor: pointer;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.red {
  margin: 0;
  padding: 0;
  color: red;
}

/* All result page */

#allResultsTable > tr > td {
  border: 2px solid black;
  padding: 5px;
  width: fit-content;
}
#allResultsTable > tr > td > tr > td {
  border: 2px solid black;
  padding: 5px;
  width: fit-content;
}
